.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days in a week */
}

.calendar-day {
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 50px;
}

.active {
    background-color: yellow;
}

.obj-date {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.negative-balances-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid black;
  border-radius: 8px;
}

.dashboard-view {
  display: flex;
}